@font-face {
    font-family: "NexaB";
    src: url(Nexa-Heavy.ttf);
}

@font-face {
    font-family: "NexaL";
    src: url(Nexa-ExtraLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexaB';
    color: #fff;
}

nav {
    background-color: #000000;
}

nav li {
    display: flex;
    justify-content: center;
    padding-top: 15px;          
    padding-bottom: 5px; 
}

.mid a {
    text-decoration: none;
    font-family: 'NexaL';
    font-size: 85%;
    color: #ffffff;
}

.background {
    min-height: 92.8vh;
    width: 100%;
    background-color: #000;
    background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    color: #fff;
}


.mid {
    display: flex;
    justify-content: center;
}

.mid ul {
    padding-inline: 4%;
}

.mid ul a {
    border-color: #000;
    border-radius: 60px;
    border-width: 2px;
    padding-block: 5px;       
    padding-inline: 10px; 
}

.mid ul a:hover {
    background-color: rgba(128, 128, 128, 0.593);
}

.actual a {
    color: #000;
    background-color: #ffffffcf;
}

.actual ul a:hover{
    background-color: none  ;
}

.logo {
    margin-right: 40.5%;
    margin-left: 2%;
}

.discord {
    margin-left: auto;
    margin-right: 2%;

}

.ds_logo {
    width: 30px;
    border-style: solid;
    border-color: #ffffff70;
    border-radius: 100%;
    border-width: 1px;
    padding: 6px;
}

.present_site {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}



.tab_pers {
    
    padding: 10px;
    display: flex;
    justify-content: center;    

}

.tab_pers table {
    width: 60%;          
    table-layout: fixed;  
    border-spacing: 15px;
}

.case {
    background-color: #ffffff;
    border-style: solid;
    border-color: #000;
    width: 30%;  
    height: 120px;           
    text-align: center;
	border-radius: 20px;
	background-size: cover;
	margin: 10px;
	align-items: center;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.719));
}
.case:hover {
    transform: scale(1.05);
	transition: transform .2s;
}

.names {
    color: #000000;
    margin: 0;
}
 


footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 1%;
}
