@font-face {
    font-family: "NexaB";
    src: url(Nexa-Heavy.ttf);
}

@font-face {
    font-family: "NexaL";
    src: url(Nexa-ExtraLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexaB';
    color: #fff;
}

.background {
    text-align: center;  
    background-image: url('photo.jpg');  
    background-size: 100% auto;  
    min-height: 100vh;  
  }