nav {
    background-color: #000000;
}

nav li {
    display: flex;
    padding-top: 15px;          
    padding-bottom: 5px; 
}

.mid a {
    text-decoration: none;
    font-family: 'NexaL';
    font-size: 85%;
    color: #ffffff;
}

.mid {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.mid ul {
    padding-inline: 4%;
}

.mid ul a {
    border-color: #000;
    border-radius: 60px;
    border-width: 2px;
    padding-block: 5px;       
    padding-inline: 10px; 
}

.mid ul a:hover {
    background-color: rgba(128, 128, 128, 0.593);
}

.actual a {
    color: #000;
    background-color: #ffffffcf;
}

.actual ul a:hover{
    background-color: none  ;
}


.left{
    width: 33.33%;
    padding-left: 10px;
}

.right{
    display: flex;
    width: 33.33%;
    justify-content: end;
    padding-right: 10px;
}

.ds_logo {
    width: 30px;
    border-style: solid;
    border-color: #ffffff70;
    border-radius: 100%;
    border-width: 1px;
    padding: 6px;
}