nav li {
    display: flex;
    padding-top: 15px;          
    padding-bottom: 5px; 
    backdrop-filter: blur(2px);
}

.mid a {
    text-decoration: none;
    font-family: 'NexaB';
    font-size: 85%;
    color: #ffffffc9;
}

.mid {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.mid ul {
    padding-inline: 4%;
    
}

.mid ul a {
    border-radius: 60px;
    border-width: 2px;
    padding-block: 5px;       
    padding-inline: 10px; 
    backdrop-filter: blur(2px);
    background-color: #0000003c;

}

.mid ul a:hover {
    background-color: rgba(128, 128, 128, 0.593);
}

.actual a {
    color: #ffffffc9;
    background-color: #b92929cf;
}

.actual ul a:hover{
    background-color: none  ;
}


.left{
    display: flex;
    width: 33.33%;
    padding-left: 10px;
    margin-right: 10px;
}

.right{
    display: flex;
    width: 33.33%;
    justify-content: end;
    padding-right: 10px;
    
}

.logo h1 {
    color: rgba(255, 255, 255, 0.886);
}

.ds_logo {
    width: 35px;
    border-style: solid;
    border-color: #ffffff47;
    border-radius: 100%;
    border-width: 1px;
    backdrop-filter: blur(2px);
    background-color: #2d2d2d68;
    border-radius: 10px;
    padding: 6px;
}

hr {
    color: #ffffff2e;
}